* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root{
    --Dark-cyan: hsl(158, 36%, 37%); 
    --Cream: hsl(30, 38%, 92%);
    --Very-dark-blue: hsl(212, 21%, 14%); 
    --Dark-grayish-blue: hsl(228, 12%, 48%); 
    --White: hsl(0, 0%, 100%);
}
body{
    background-color: var(--Cream);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
max-width: 650px;
display: flex;
margin:0 auto ;
background-color: var(--White);
border-radius: 10px;
}
.imge{
    width:50%;
}

img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.details{
    width: 50%;
    padding: 32px;
}
.details .prar1{
    font-family:'Montserrat';
    color: var(--Dark-grayish-blue);
    letter-spacing: 6px;
    text-transform: uppercase;
    font-size: 14px;
    padding-bottom: 25px;
}
.details .text{
    max-width:200px;
    font-family: 'Fraunces';
    font-weight: 700;
    padding-bottom: 25px;
}
.details .prar2{
    font-family:'Montserrat' ;
    color: var(--Dark-grayish-blue);
    font-weight: 500;
    line-height: 25px;
    padding-bottom: 25px;
}
.details .prar3{
    font-family: "Fraunces";
    font-size: 25px;
    color: var(--Dark-cyan);
    padding-bottom: 25px;
}
.details .prar3 span{
    font-family: 'Fraunces';
    font-size: 14px;
    padding-left:25px;
    color: var(--Dark-grayish-blue);
    text-decoration: line-through;
}
.btn{
    margin: 0 auto;
    text-align: center;

}
.btn button{
    background-color: var(--Dark-cyan);
    border: 0;
    padding: 15px 70px;
    color: var(--White);
    font-size: 18px;
    border-radius: 10px;
}
.btn button .icon{
    margin-right: 10px;
}



@media (max-width:680px){
.container{
    flex-direction: column;
   margin: 25px;
}

.container .imge img{
content: url("../images/image-product-mobile.jpg");
}
.container .imge {
    width: 100%;
    height: 40%;
}
.details{
    width: 100%;
}
.details .text {
    max-width: 320px;
    font-family: 'Fraunces';
    font-weight: 700;
    padding-bottom: 25px;
}
}